<!DOCTYPE html>

<html
        lang="en"
        class="light-style customizer-hide"
        dir="ltr"
        data-theme="theme-default"
        data-assets-path="../../assets/"
        data-template="vertical-menu-template"
        xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="utf-8"/>
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />

    <title>Вхід</title>

    <meta name="description" content=""/>

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" th:href="@{/assets/img/favicon/favicon.ico}"/>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
            rel="stylesheet"
    />

    <!-- Icons -->
    <link rel="stylesheet" th:href="@{/assets/vendor/fonts/fontawesome.css}"/>
    <link rel="stylesheet" th:href="@{/assets/vendor/fonts/tabler-icons.css}"/>
    <link rel="stylesheet" th:href="@{/assets/vendor/fonts/flag-icons.css}"/>

    <!-- Core CSS -->
    <link rel="stylesheet" th:href="@{/assets/vendor/css/rtl/core.css}"/>
    <link rel="stylesheet" th:href="@{/assets/vendor/css/rtl/theme-default.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/demo.css}"/>

    <!-- Vendors CSS -->
    <link rel="stylesheet" th:href="@{/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css}"/>
    <link rel="stylesheet" th:href="@{/assets/vendor/libs/node-waves/node-waves.css}"/>
    <link rel="stylesheet" th:href="@{/assets/vendor/libs/typeahead-js/typeahead.css}"/>
    <!-- Vendor -->

    <!-- Page CSS -->
    <link rel="stylesheet" th:href="@{/assets/vendor/css/pages/page-auth.css}"/>
    <!-- Page -->

    <!-- Helpers -->
    <script th:src="@{/assets/vendor/js/helpers.js}"></script>
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script th:src="@{/assets/js/config.js}"></script>
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js}"></script>

</head>

<body>
<!-- Content -->

<div class="authentication-wrapper authentication-cover authentication-bg">
    <div class="authentication-inner row">
        <!-- /Left Text -->
        <div class="d-none d-lg-flex col-lg-7 p-0">
            <div class="auth-cover-bg auth-cover-bg-color d-flex justify-content-center align-items-center">
                <img th:src="@{/assets/img/illustrations/auth-login-illustration-light.png}" style="max-height: 95%"
                     alt="auth-login-cover"
                     class="img-fluid my-5 auth-illustration"
                     data-app-light-img="illustrations/auth-login-illustration-light.png"
                     data-app-dark-img="illustrations/auth-login-illustration-dark.png"
                />

                <img th:src="@{/assets/img/illustrations/bg-shape-image-light.png}"
                     alt="auth-login-cover"
                     class="platform-bg"
                     data-app-light-img="illustrations/bg-shape-image-light.png"
                     data-app-dark-img="illustrations/bg-shape-image-dark.png"
                />
            </div>
        </div>
        <!-- /Left Text -->

        <!-- Login -->
        <div class="d-flex col-12 col-lg-5 align-items-center p-sm-5 p-4">
            <div class="w-px-400 mx-auto">
                <!-- Logo -->
                <div class="app-brand mb-4">
                    <a th:href="@{admin/statistic}" class="app-brand-link gap-2">
                <span class="app-brand-logo demo">
                  <svg width="32" height="22" viewBox="0 0 32 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M0.00172773 0V6.85398C0.00172773 6.85398 -0.133178 9.01207 1.98092 10.8388L13.6912 21.9964L19.7809 21.9181L18.8042 9.88248L16.4951 7.17289L9.23799 0H0.00172773Z"
                            fill="#7367F0"
                    />
                    <path
                            opacity="0.06"
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M7.69824 16.4364L12.5199 3.23696L16.5541 7.25596L7.69824 16.4364Z"
                            fill="#161616"
                    />
                    <path
                            opacity="0.06"
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M8.07751 15.9175L13.9419 4.63989L16.5849 7.28475L8.07751 15.9175Z"
                            fill="#161616"
                    />
                    <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M7.77295 16.3566L23.6563 0H32V6.88383C32 6.88383 31.8262 9.17836 30.6591 10.4057L19.7824 22H13.6938L7.77295 16.3566Z"
                            fill="#7367F0"
                    />
                  </svg>
                </span>
                    </a>
                </div>
                <!-- /Logo -->
                <h3 class="mb-2 fw-bold text-center">Restaurant<br/>NomNon Nuw</h3>
                <p class="mb-4">Увійти до панелі адміністратора</p>

                <form id="loginForm" class="mb-3" onsubmit="sendLoginRequest()">
                    <div class="mb-3">
                        <label for="username" class="form-label">Email</label>
                        <input
                                type="text"
                                class="form-control"
                                id="username"
                                name="username"
                                placeholder="E-Mail"
                                autofocus
                        />
                    </div>
                    <div class="mb-3 form-password-toggle">
                        <label class="form-label" for="password">Пароль</label>
                        <div class="input-group input-group-merge">
                            <input
                                    type="password"
                                    id="password"
                                    class="form-control"
                                    name="password"
                                    placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                    aria-describedby="basic-default-password"
                            />
                            <span class="input-group-text cursor-pointer" id="basic-default-password"><i
                                    class="ti ti-eye-off"></i></span>
                        </div>
                    </div>
                    <div class="mb-3">
                    </div>
                    <button type="button" class="btn btn-primary d-grid w-100 login-btn">Sign in</button>
                </form>
            </div>
            <!-- /Login -->
        </div>
    </div>
</div>

<!-- / Content -->

<!-- Core JS -->
<!-- build:js assets/vendor/js/core.js -->
<script th:src="@{/assets/vendor/libs/jquery/jquery.js}"></script>
<script th:src="@{/assets/vendor/libs/popper/popper.js}"></script>
<script th:src="@{/assets/vendor/js/bootstrap.js}"></script>
<script th:src="@{/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js}"></script>
<script th:src="@{/assets/vendor/libs/node-waves/node-waves.js}"></script>

<script th:src="@{/assets/vendor/libs/hammer/hammer.js}"></script>
<script th:src="@{/assets/vendor/libs/typeahead-js/typeahead.js}"></script>

<!-- endbuild -->

<!-- Vendors JS -->
<script th:src="@{/assets/vendor/libs/formvalidation/dist/js/FormValidation.min.js}"></script>
<script th:src="@{/assets/vendor/libs/formvalidation/dist/js/plugins/Bootstrap5.min.js}"></script>
<script th:src="@{/assets/vendor/libs/formvalidation/dist/js/plugins/AutoFocus.min.js}"></script>

<!-- Main JS -->
<script th:src="@{/assets/js/main.js}"></script>

<!-- Page JS -->
<script th:src="@{/assets/js/pages-auth.js}"></script>

<script th:inline="javascript">
    $(".login-btn").on("click", function () {
        sendLoginRequest()
    })
    $('#basic-default-password').on("click", function () {
        var find = $(this).parent().find("input[name='password']");
        var type = find.attr('type');
        if (type === 'password') {
            find.attr('type', 'text');
            $(this).html('<i class="ti ti-eye"></i>');
        } else if (type === 'text') {
            find.attr('type', 'password');
            $(this).html('<i class="ti ti-eye-off"></i>');
        }
    })

    function sendLoginRequest() {
        $(".invalid-feedback").remove();
        $(".is-invalid").removeClass("is-invalid")

        var formData = new FormData(loginForm);

        var xhr = new XMLHttpRequest();
        $.ajax({
            url: /*[[@{/admin/auth/signin}]]*/ 'default',
            type: "POST",
            data: formData,
            dataType: "text",
            processData: false,
            contentType: false,
            xhr: function () {
                return xhr;
            },
            success: function () {
                window.location = xhr.responseURL;
            },
            error: function (error) {
                const errors = JSON.parse(error.responseText);
                for (let error of errors) {
                    $(document).find("#" + error.field).addClass("is-invalid").after($(
                        '<p class="error-message invalid-feedback m-0">' + error.defaultMessage + '</p>'
                    ))
                }
            }
        })
    }
</script>
</body>
</html>
