<!DOCTYPE html>

<html
        lang="en"
        class="light-style layout-navbar-fixed layout-menu-fixed"
        dir="ltr"
        data-theme="theme-default"
        data-assets-path="../../assets/"
        data-template="vertical-menu-template-starter"
        xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="utf-8"/>
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />

    <title>Деталі користувача</title>

    <meta name="description" content=""/>

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" th:href="@{/assets/img/favicon/favicon.ico}"/>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
            rel="stylesheet"
    />

    <!-- Icons -->
    <link rel="stylesheet" th:href="@{/assets/vendor/fonts/fontawesome.css}"/>
    <link rel="stylesheet" th:href="@{/assets/vendor/fonts/tabler-icons.css}"/>
    <link rel="stylesheet" th:href="@{/assets/vendor/fonts/flag-icons.css}"/>

    <!-- Core CSS -->
    <link rel="stylesheet" th:href="@{/assets/vendor/css/rtl/core.css}"/>
    <link rel="stylesheet" th:href="@{/assets/vendor/css/rtl/theme-default.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/demo.css}"/>

    <!-- Vendors CSS -->
    <link rel="stylesheet" th:href="@{/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css}"/>
    <link rel="stylesheet" th:href="@{/assets/vendor/libs/node-waves/node-waves.css}"/>
    <link rel="stylesheet" th:href="@{/assets/vendor/libs/typeahead-js/typeahead.css}"/>
    <link rel="stylesheet" th:href="@{/assets/vendor/libs/animate-css/animate.css}"/>
    <link rel="stylesheet" th:href="@{/assets/vendor/libs/flatpickr/flatpickr.css}"/>

    <!-- Page CSS -->

    <!-- Helpers -->
    <script th:src="@{/assets/vendor/js/helpers.js}"></script>

    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script th:src="@{/assets/js/config.js}"></script>
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js}"></script>
</head>

<body>
<!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <!-- Menu -->

        <th:block th:insert="~{fragments/admin-sidebar.html :: sidebar}"></th:block>
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">
            <!-- Navbar -->
            <th:block th:insert="~{fragments/admin-navbar.html :: navbar}"></th:block>
            <!-- / Navbar -->
            <!-- Content wrapper -->
            <div class="content-wrapper">
                <!-- Content -->
                <div class="container-xxl flex-grow-1 container-p-y">
                    <div class="d-flex flex-row justify-content-between align-items-center">
                        <h4 class="fw-bold pt-3">Редагування користувача</h4>
                    </div>
                    <div class="card">
                        <form id="userForm">
                            <div class="card-body d-flex flex-row gap-5">
                                <div class="ms-5 col-md-4">
                                    <div class="card-header d-flex justify-content-end align-items-center"
                                         style="position: absolute; top: 0; right: 1rem">
                                        <label class="switch switch-success">
                                            <input type="checkbox" class="switch-input" id="isActive"
                                                   name="isActive">
                                            <span class="switch-toggle-slider">
                                        <span class="switch-on">
                                            <i class="ti ti-check"></i>
                                        </span>
                                            <span class="switch-off">
                                                <i class="ti ti-x"></i>
                                            </span>
                                        </span>
                                            <span class="switch-label">Статус</span>
                                        </label>
                                    </div>
                                    <div class="mb-2">
                                        <label class="form-label" for="firstName">Прізвище:</label>
                                        <input type="text" class="form-control" id="firstName" name="firstName">
                                    </div>
                                    <div class="mb-2">
                                        <label class="form-label" for="lastName">Ім'я:</label>
                                        <input type="text" class="form-control" id="lastName" name="lastName">
                                    </div>
                                    <div class="mb-2">
                                        <label class="form-label" for="phone">Телефон:</label>
                                        <input type="text" class="form-control" id="phone" name="phone">
                                    </div>
                                    <div class="mb-2">
                                        <label class="form-label" for="email">E-Mail:</label>
                                        <input type="text" class="form-control" id="email" name="email">
                                    </div>
                                    <div class="mb-2">
                                        <label class="form-label" for="dateOfBirth">Дата народження:</label>
                                        <input type="text" class="form-control" id="dateOfBirth" name="dateOfBirth">
                                    </div>
                                </div>
                                <div class="col-md-2 mt-4">
                                    <figure class="border-secondary border-1" style="border-style: solid">
                                        <img src="" id="photo" width="190" height="150">
                                    </figure>
                                </div>
                                <input type="hidden" id="userId" name="userId">
                            </div>
                            <div class="card-footer d-flex justify-content-center">
                                <button type="button" class="btn btn-primary send-user">Зберегти</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- / Content -->
                <div class="content-backdrop fade"></div>
            </div>
            <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
    </div>
    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>

    <!-- Drag Target Area To SlideIn Menu On Small Screens -->
    <div class="drag-target"></div>
</div>
<!-- / Layout wrapper -->

<script th:src="@{/assets/vendor/libs/flatpickr/flatpickr.js}"></script>
<script th:src="@{https://npmcdn.com/flatpickr/dist/l10n/uk.js}"></script>
<script th:inline="javascript">
    let src = /*[[@{/assets/img/placeholder-image.png}]]*/ 'default';
    window.onload = function () {
        var images = document.querySelectorAll("img");
        for (var i = 0; i < images.length; i++) {
            if (!images[i].complete || images[i].naturalWidth === 0) {
                images[i].src = src;
            }
        }
    };

    var datapikr = document.querySelector("#dateOfBirth");
    flatpickr.localize(flatpickr.l10ns.uk);

    flatpickr(datapikr, {
        dateFormat: 'd-m-Y',
        monthSelectorType: "static",
    });

</script>
<script th:inline="javascript">
    const fullPath = window.location.pathname;
    const userId = Number(fullPath.substring(fullPath.lastIndexOf('/') + 1, fullPath.length));
    $.ajax({
        type: "GET",
        url: '../getUserDetails/' + userId,
        dataType: "JSON",
        success: function (responce) {
            drawUserDetails(responce);
        },
        error: function (error) {
            $('<div class="alert alert-danger alert-dismissible fade show" role="alert" style="position: absolute; top: 6rem; right: 1rem"> \n' +
                'Ой.. Щось пішло не так :)' +
                '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>\n' +
                '</div>').appendTo(".content-wrapper");
            autoCloseAlert();
        }
    });

    function drawUserDetails(details) {
        $('#isActive').prop("checked", details.isActive);
        $('#userId').val(details.userId);
        $('#firstName').val(details.firstName);
        $('#lastName').val(details.lastName);
        $('#phone').val(details.phone);
        flatpickr("#dateOfBirth", {
            dateFormat: 'd-m-Y',
            defaultDate: new Date(details.dateOfBirth)
        });

        $('#email').val(details.email);
        if (details.photo) $("#photo").attr("src", '../../../uploads/' + details.photo);
    }

    $('.send-user').on("click", function () {
        var formData = new FormData($('#userForm')[0]);
        $('.invalid-feedback').remove();
        $('.is-invalid').removeClass('is-invalid');
        if (!$('#isActive').is(":checked")) {
            formData.set("isActive", 'false');
        }

        $.ajax({
            type: "POST",
            url: '../edit-user/' + userId,
            data: formData,
            processData: false,
            contentType: false,
            success: function (response) {
                $('<div class="alert alert-success alert-dismissible fade show" role="alert" style="position: absolute; top: 6rem; right: 1rem"> \n' +
                    'Оновлення успішне !' +
                    '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>\n' +
                    '</div>').appendTo(".content-wrapper");
                autoCloseAlert();
            },
            error: function (error) {
                const errors = error.responseJSON;
                for (let error of errors) {
                    $(document).find("#" + error.field).addClass("is-invalid").after($(
                        '<p class="error-message invalid-feedback m-0">' + error.defaultMessage + '</p>'
                    ))
                }
                $('<div class="alert alert-danger alert-dismissible fade show" role="alert" style="position: absolute; top: 6rem; right: 1rem"> \n' +
                    'Ой.. Щось пішло не так :)' +
                    '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>\n' +
                    '</div>').appendTo(".content-wrapper");
                autoCloseAlert();
            }
        })
    });

    function autoCloseAlert() {
        $(".alert").fadeTo(2000, 500).slideUp(500, function () {
            $("#success-alert").slideUp(500);
        });
    }

</script>

<!-- Core JS -->
<!-- build:js assets/vendor/js/core.js -->
<script th:src="@{/assets/vendor/libs/jquery/jquery.js}"></script>
<script th:src="@{/assets/vendor/libs/popper/popper.js}"></script>
<script th:src="@{/assets/vendor/js/bootstrap.js}"></script>
<script th:src="@{/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js}"></script>
<script th:src="@{/assets/vendor/libs/node-waves/node-waves.js}"></script>

<script th:src="@{/assets/vendor/libs/hammer/hammer.js}"></script>

<script th:src="@{/assets/vendor/js/menu.js}"></script>
<!-- endbuild -->

<!-- Vendors JS -->

<!-- Main JS -->
<script th:src="@{/assets/js/main.js}"></script>

<!-- Page JS -->
</body>
</html>
