<!DOCTYPE html>

<html
        lang="en"
        class="light-style layout-navbar-fixed layout-menu-fixed"
        dir="ltr"
        data-theme="theme-default"
        data-assets-path="../../assets/"
        data-template="vertical-menu-template-starter"
        xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="utf-8"/>
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />

    <title>Деталі користувача</title>

    <meta name="description" content=""/>

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" th:href="@{/assets/img/favicon/favicon.ico}"/>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
            rel="stylesheet"
    />

    <!-- Icons -->
    <link rel="stylesheet" th:href="@{/assets/vendor/fonts/fontawesome.css}"/>
    <link rel="stylesheet" th:href="@{/assets/vendor/fonts/tabler-icons.css}"/>
    <link rel="stylesheet" th:href="@{/assets/vendor/fonts/flag-icons.css}"/>

    <!-- Core CSS -->
    <link rel="stylesheet" th:href="@{/assets/vendor/css/rtl/core.css}"/>
    <link rel="stylesheet" th:href="@{/assets/vendor/css/rtl/theme-default.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/demo.css}"/>

    <!-- Vendors CSS -->
    <link rel="stylesheet" th:href="@{/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css}"/>
    <link rel="stylesheet" th:href="@{/assets/vendor/libs/node-waves/node-waves.css}"/>
    <link rel="stylesheet" th:href="@{/assets/vendor/libs/typeahead-js/typeahead.css}"/>
    <link rel="stylesheet" th:href="@{/assets/vendor/libs/animate-css/animate.css}"/>

    <!-- Page CSS -->

    <!-- Helpers -->
    <script th:src="@{/assets/vendor/js/helpers.js}"></script>

    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script th:src="@{/assets/js/config.js}"></script>
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js}"></script>
</head>

<body>
<!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <!-- Menu -->

        <th:block th:insert="~{fragments/admin-sidebar.html :: sidebar}"></th:block>
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">
            <!-- Navbar -->
            <th:block th:insert="~{fragments/admin-navbar.html :: navbar}"></th:block>
            <!-- / Navbar -->

            <!-- Content wrapper -->
            <div class="content-wrapper">
                <!-- Content -->

                <div class="container-xxl flex-grow-1 container-p-y">
                    <div class="d-flex flex-row justify-content-between align-items-center">
                        <h4 class="fw-bold pt-3">Деталі користувача</h4>
                    </div>
                    <div class="card">
                        <div class="card-header d-flex justify-content-end mb-0">
                            <a href="" id="edit-link" class="btn btn-primary">Редагувати</a>
                        </div>
                        <div class="card-body d-flex flex-row gap-5">
                            <div class="col-md-2">
                                <figure class="border-secondary border-1" style="border-style: solid">
                                    <img src="" id="photo" width="190" height="150">
                                </figure>
                            </div>
                            <div class="col-md-9">
                                <div class="row-cols-md-2 d-flex flex-row mb-2">
                                    <div class="d-flex gap-1">
                                        <span class="col-md-4 text-end">ПІБ: </span>
                                        <span class="fw-bold" id="userName"></span>
                                    </div>
                                    <div class="d-flex gap-1">
                                        <span class="col-md-4 text-end">Телефон: </span>
                                        <span class="fw-bold" id="phone"></span>
                                    </div>
                                </div>
                                <div class="row-cols-md-2 d-flex flex-row mb-4">
                                    <div class="d-flex gap-1">
                                        <span class="col-md-4 text-end">Дата народження: </span>
                                        <span class="fw-bold" id="dateOfBirth"></span>
                                    </div>
                                    <div class="d-flex gap-1">
                                        <span class="col-md-4 text-end">E-Mail: </span>
                                        <span class="fw-bold" id="email"></span>
                                    </div>
                                </div>
                                <div class="row-cols-md-3 d-flex flex-row mb-2">
                                    <div class="d-flex flex-row gap-1">
                                        <span>Сума замовлень:</span>
                                        <span class="fw-bold" id="totalAmount"></span>
                                    </div>
                                    <div class="d-flex flex-row gap-1">
                                        <span>Активні бонуси: </span>
                                        <span class="fw-bold" id="activeBonuses"></span>
                                    </div>
                                    <div class="d-flex flex-row gap-1">
                                        <span>Бонусів використано: </span>
                                        <span class="fw-bold" id="usedBonuses"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header py-2 d-flex flex-row justify-content-between align-items-center">
                            <span class="fw-bold h3">Історія замовлень</span>
                        </div>
                        <div class="card-body">
                            <div>
                                <div class="table-responsive overflow-visible">
                                    <table class="table">
                                        <thead class="table-light">
                                        <tr>
                                            <th>Номер</th>
                                            <th>Дата замовлення</th>
                                            <th>Товари</th>
                                            <th>Телефон</th>
                                            <th>ПІБ</th>
                                            <th>Статус</th>
                                            <th>Сума</th>
                                            <th>Дії</th>
                                        </tr>
                                        </thead>
                                        <tbody class="table-border-bottom-0">

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer d-flex justify-content-between pb-0"></div>
                    </div>

                </div>
                <!-- / Content -->
                <div class="content-backdrop fade"></div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="modalCenter" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title " id="modalCenterTitle">Видалити категорію ?</h5>
                            <button
                                    type="button"
                                    class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close"
                            ></button>
                        </div>
                        <div class="modal-body">
                            <span>Видалити категорію без можливості відновлення ?</span>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">
                                Скасувати
                            </button>
                            <button type="button" class="btn btn-danger" id="delete-staff">Видалити</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
    </div>
    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>

    <!-- Drag Target Area To SlideIn Menu On Small Screens -->
    <div class="drag-target"></div>
</div>
<!-- / Layout wrapper -->
<script th:inline="javascript">
    let src = /*[[@{/assets/img/placeholder-image.png}]]*/ 'default';
    window.onload = function () {
        var images = document.querySelectorAll("img");
        for (var i = 0; i < images.length; i++) {
            if (!images[i].complete || images[i].naturalWidth === 0) {
                images[i].src = src;
            }
        }
    };
</script>
<script th:inline="javascript">
    const fullPath = window.location.pathname;
    const userId = Number(fullPath.substring(fullPath.lastIndexOf('/') + 1, fullPath.length));
    $.ajax({
        type: "GET",
        url: '../getUserDetails/' + userId,
        dataType: "JSON",
        success: function (responce) {
            drawUserDetails(responce);
        },
        error: function (error) {
        }
    });

    function drawUserDetails(details) {
        let dateString = new Date(details.dateOfBirth).toLocaleDateString("uk");

        $('#userName').html(details.firstName + ' ' + details.lastName);
        $('#phone').html(details.phone);
        $('#dateOfBirth').html(dateString);
        $('#email').html(details.email);
        $('#totalAmount').html(details.totalAmount);
        $('#activeBonuses').html(details.activeBonuses);
        $('#usedBonuses').html(details.usedBonuses);
        if (details.photo) $("#photo").attr("src", '../../../uploads/' + details.photo);
        $('#edit-link').attr("href", '../edit-user/' + details.userId);
    }
    $(document).ready(function () {
        getUsersOrdersBySearch(0);
    });

    let currentPage;

    function getUsersOrdersBySearch(page) {
        let getPath = 'getOrdersByUser?page=' + page + '&userId=' + userId;

        $.ajax({
            type: 'GET',
            url: '../../orders/' + getPath,
            dataType: 'json',
            success: function (result) {
                currentPage = page;
                clearTableLine();
                drawTable(result, page);

            },
            error: function () {
                $('<tr>' +
                    '<td colspan="8" class="text-center">Результатів не знайдено</td>' +
                    '</tr>').appendTo("tbody");
            }
        });
    }

    function getStatusLabel(status) {
        switch (status) {
            case 'NEW':
                return ['bg-label-primary', 'Новий'];
            case 'ACCEPTED':
                return ['bg-label-info', 'Прийнятий'];
            case 'NOT_CONFIRMED_PREPARING':
                return ['bg-label-danger', 'Не підтверджений'];
            case 'PREPARING':
                return ['bg-label-light', 'Готується'];
            case 'DELIVERED':
                return ['bg-label-warning', 'Доставляється'];
            case 'COMPLETED':
                return ['bg-label-success', 'Завершений'];
            case 'CANCELED':
                return ['bg-label-dark', 'Скасований'];
            default:
                return 'Не відомо';
        }
    }

    function getProductsWithCount(products) {
        const productsMap = new Map();

        for (const item of products) {
            productsMap.set(item.product.name, (productsMap.get(item.product.name) || 0) + 1);
        }

        const productsWithCount = [];
        for (const [name, count] of productsMap) {
            productsWithCount.push(` ${name} - ${count}х`);
        }
        return productsWithCount;
    }

    function drawTable(result, page) {

        for (const data of result.content) {
            const date = new Date(data.datetimeOfCreate * 1000);
            let dateString = date.toLocaleString("uk");

            let listProducts = getProductsWithCount(data.orderItems);
            const badge = getStatusLabel(data.status);

            $('<tr>\n' +
                '<td><i class="ti ti-number"></i>' + data.orderId + '</td>\n' +
                '<td>' + dateString + '</td>\n' +
                '<td>' + listProducts + '</td>\n' +
                '<td>' + (data.user ? data.user.phone : '') + '</td>\n' +
                '<td>' + (data.user ? data.user.firstName : '') + ' ' + (data.user ? data.user.lastName : '') + '</td>\n' +
                '<td><span class="badge ' + badge[0] + '">' + badge[1] + '</span></td>\n' +
                '<td>' + data.totalAmount + '</td>\n' +
                '<td> <a href="../../orders/edit-order/' + data.orderId + '">\n' +
                '     <i class="ti ti-pencil me-1"></i>' +
                '     </a>\n</td>\n' +
                '</tr>').appendTo("tbody");
        }


        if (result.totalPages > 1) {
            const size = result.size;

            const from = page > 0 ? (page * size) + 1 : 1;
            const to = from + (size - 1);
            const total = result.totalElements;

            if (from === total) {
                $('<div class="dataTables_info" id="DataTables_info" role="status" aria-live="polite">' +
                    'Показано ' + from + ' з ' + total + ' користувачів' +
                    '</div>').appendTo(".card-footer");
            } else {
                $('<div class="dataTables_info" id="DataTables_info" role="status" aria-live="polite">' +
                    'Показано ' + from + '-' + to + ' з ' + total + ' користувачів' +
                    '</div>').appendTo(".card-footer")
            }

            showPagination(result.totalPages);

            switch (page) {
                case (result.totalPages - 1):
                    $(".page-item.last").addClass('disabled');
                    $(".page-item.next").addClass('disabled');
                    break;
                case 0:
                    $(".page-item.first").addClass('disabled');
                    $(".page-item.prev").addClass('disabled');
                    break;
            }
        }

        function showPagination(countItems) {
            var paginationList = '<ul class="pagination pagination-sm">\n' +
                '<li class="page-item first">\n' +
                '   <a class="page-link waves-effect" onclick="getOrders(0)"><i class="ti ti-chevrons-left tf-icon fs-6"></i></a>\n' +
                '</li>\n' +
                '<li class="page-item prev">\n' +
                '   <a class="page-link waves-effect" onclick="getOrders(' + (page - 1) + ')"><i class="ti ti-chevron-left tf-icon fs-6"></i></a>\n' +
                '</li>\n';
            for (let item = 0; item < countItems; item++) {
                paginationList += '<li class="page-item ' + (page === item ? 'active' : '') + '">\n' +
                    '<a class="page-link waves-effect" onclick="getOrders(' + item + ')">' + (item + 1) + '</a>\n' +
                    '</li>';
            }
            paginationList += '<li class="page-item next">\n' +
                '       <a class="page-link waves-effect" onclick="getOrders(' + (page + 1) + ')"><i class="ti ti-chevron-right tf-icon fs-6"></i></a>\n' +
                '   </li>\n' +
                '      <li class="page-item last">\n' +
                '       <a class="page-link waves-effect" onclick="getOrders(' + (countItems - 1) + ')"><i class="ti ti-chevrons-right tf-icon fs-6"></i></a>\n' +
                '      </li>\n' +
                '   </ul>\n'

            $(paginationList).appendTo(".card-footer");
        }

    }

    //clear table before getAll
    function clearTableLine() {
        $("tbody").find("tr").each(function () {
            this.remove();
        });
        $(".card-footer").children().remove();
    }

</script>
<!-- Core JS -->
<!-- build:js assets/vendor/js/core.js -->
<script th:src="@{/assets/vendor/libs/jquery/jquery.js}"></script>
<script th:src="@{/assets/vendor/libs/popper/popper.js}"></script>
<script th:src="@{/assets/vendor/js/bootstrap.js}"></script>
<script th:src="@{/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js}"></script>
<script th:src="@{/assets/vendor/libs/node-waves/node-waves.js}"></script>

<script th:src="@{/assets/vendor/libs/hammer/hammer.js}"></script>

<script th:src="@{/assets/vendor/js/menu.js}"></script>
<!-- endbuild -->

<!-- Vendors JS -->

<!-- Main JS -->
<script th:src="@{/assets/js/main.js}"></script>

<!-- Page JS -->
</body>
</html>
