<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>navbar</title>
</head>
<body>
<nav th:fragment="navbar"
     class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
     id="layout-navbar"
>
    <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
        <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
            <i class="ti ti-menu-2 ti-sm"></i>
        </a>
    </div>

    <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
        <div class="navbar-nav align-items-center">
            <a class="nav-link style-switcher-toggle hide-arrow" href="javascript:void(0);">
                <i class="ti ti-sm"></i>
            </a>
        </div>

        <ul class="navbar-nav flex-row align-items-center ms-auto">
            <li class="nav-item me-5">
                <i class="ti ti-bell ti-md"></i>
                <span class="badge bg-danger rounded-pill badge-notifications" id="countOrdersNew"></span>
            </li>
            <!-- User -->
            <li class="nav-item me-3">
                <div class="avatar avatar-online">
                    <img th:src="@{/assets/img/avatars/1.png}" class="h-auto rounded-circle" id="staffAvatar"/>
                </div>
                </a>
            </li>
            <li class="nav-item me-3">
                <div class="flex-grow-1">
                    <span class="fw-semibold d-block" id="activeStaffName">John Doe</span>
                    <small class="text-muted" id="activeStaffRole">Admin</small>
                </div>
            </li>
            <li class="nav-item me-3">
                <button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#modalLogout">
                    <i class="ti ti-logout ti-sm"></i>
                </button>
            </li>
        </ul>

    </div>

    <script th:inline="javascript">
        const path = /*[[@{/admin/statistic}]]*/ 'default';

        $.ajax({
            type: "GET",
            url: path + '/getGlobalStatistic',
            success: function (response) {
                $('#countOrdersNew').html(response.activeOrders);
            },
            error: function (error) {
            }
        });

        $.ajax({
            type: "GET",
            url: path + '/getCurrentStaff',
            success: function (response) {
                $('#activeStaffName').html(response.firstName + ' ' + response.lastName);
                $('#activeStaffRole').html(role(response));
                if (response.photoName) $('#staffAvatar').attr('src', path + '/../../uploads/' + response.photoName)
            },
            error: function (error) {
            }
        });

        function role(data) {
            switch (data.staffRole) {
                case 'ROLE_MANAGER':
                    return 'Менеджер';
                case 'ROLE_ADMIN':
                    return 'Головний адмін';
                case 'ROLE_COURIER':
                    return 'Курьєр';
                case 'ROLE_ACCOUNTANT':
                    return 'Бухгалтер';
                default:
                    return 'Невідомий';
            }
        }

        $('<!-- Modal -->\n' +
            '    <div class="modal fade" id="modalLogout" tabindex="-1" aria-hidden="true">\n' +
            '        <div class="modal-dialog modal-dialog-centered" role="document">\n' +
            '            <div class="modal-content">\n' +
            '                <div class="modal-header">\n' +
            '                    <h5 class="modal-title " id="modalCenterTitle">Вихід</h5>\n' +
            '                    <button\n' +
            '                            type="button"\n' +
            '                            class="btn-close"\n' +
            '                            data-bs-dismiss="modal"\n' +
            '                            aria-label="Close"\n' +
            '                    ></button>\n' +
            '                </div>\n' +
            '                <div class="modal-body">\n' +
            '                    <span>Ви справді хочете вийти з облікового запису ?</span>\n' +
            '                </div>\n' +
            '                <div class="modal-footer">\n' +
            '                    <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">\n' +
            '                        Скасувати\n' +
            '                    </button>\n' +
            '                    <a href="' + path + '../../../logout" class="btn btn-danger" >Вийти</a>\n' +
            '                </div>\n' +
            '            </div>\n' +
            '        </div>\n' +
            '    </div>').appendTo('.layout-container');
        console.log("sdasd")

    </script>
</nav>

</body>
</html>