<!DOCTYPE html>

<html
        lang="en"
        class="light-style layout-navbar-fixed layout-menu-fixed"
        dir="ltr"
        data-theme="theme-default"
        data-assets-path="../../assets/"
        data-template="vertical-menu-template-starter"
        xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="utf-8"/>
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />

    <title>Редагування замовлення</title>

    <meta name="description" content=""/>

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" th:href="@{/assets/img/favicon/favicon.ico}"/>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
            rel="stylesheet"
    />

    <!-- Icons -->
    <link rel="stylesheet" th:href="@{/assets/vendor/fonts/fontawesome.css}"/>
    <link rel="stylesheet" th:href="@{/assets/vendor/fonts/tabler-icons.css}"/>
    <link rel="stylesheet" th:href="@{/assets/vendor/fonts/flag-icons.css}"/>

    <!-- Core CSS -->
    <link rel="stylesheet" th:href="@{/assets/vendor/css/rtl/core.css}"/>
    <link rel="stylesheet" th:href="@{/assets/vendor/css/rtl/theme-default.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/demo.css}"/>

    <!-- Vendors CSS -->
    <link rel="stylesheet" th:href="@{/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css}"/>
    <link rel="stylesheet" th:href="@{/assets/vendor/libs/node-waves/node-waves.css}"/>
    <link rel="stylesheet" th:href="@{/assets/vendor/libs/typeahead-js/typeahead.css}"/>
    <link rel="stylesheet" th:href="@{/assets/vendor/libs/animate-css/animate.css}"/>
    <link rel="stylesheet" th:href="@{/assets/vendor/libs/flatpickr/flatpickr.css}"/>
    <link rel="stylesheet" th:href="@{/assets/vendor/libs/select2/select2.css}"/>
    <link rel="stylesheet" th:href="@{/assets/vendor/libs/jquery-timepicker/jquery-timepicker.css}"/>
    <link rel="stylesheet" th:href="@{/assets/vendor/libs/toastr/toastr.css}">
    <link rel="stylesheet" th:href="@{/assets/vendor/libs/spinkit/spinkit.css}"/>

    <!-- Page CSS -->

    <!-- Helpers -->
    <script th:src="@{/assets/vendor/js/helpers.js}"></script>

    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script th:src="@{/assets/js/config.js}"></script>
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js}"></script>
</head>

<body>
<!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <!-- Menu -->

        <th:block th:insert="~{fragments/admin-sidebar.html :: sidebar}"></th:block>
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">
            <!-- Navbar -->
            <th:block th:insert="~{fragments/admin-navbar.html :: navbar}"></th:block>
            <!-- / Navbar -->
            <!-- Content wrapper -->
            <div class="content-wrapper">
                <!-- Content -->
                <div class="container-xxl flex-grow-1 container-p-y">
                    <div class="d-flex flex-row justify-content-between align-items-center">
                        <h4 class="fw-bold pt-3" id="order-number">Замовлення №: ______</h4>
                        <div class="mb-2 d-flex flex-row align-items-center gap-2">
                            <label class="form-label-lg" for="datetimeOfCreate">Створено:</label>
                            <input type="text" class="form-control" id="datetimeOfCreate" name="datetimeOfCreate"
                                   placeholder="Час створення" disabled>
                        </div>
                    </div>
                    <div class="card">
                        <form id="orderForm">
                            <div class="card-body d-flex flex-row gap-5">
                                <div class="col-md-8 mt-4">
                                    <div class="table-responsive overflow-visible">
                                        <table class="table">
                                            <thead class="table-light">
                                            <tr>
                                                <th>Товар</th>
                                                <th>Вартість</th>
                                                <th>Редагування</th>
                                            </tr>
                                            </thead>
                                            <tbody class="table-border-bottom-0">

                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="row d-flex flex-row justify-content-between ">
                                        <div class="d-flex flex-column gap-2 col-md-3 mt-3">
                                            <button type="button" class="btn btn-outline-primary" id="add-orderItem"
                                                    data-bs-toggle="modal" data-bs-target="#modal-add-orderItem">
                                                Додати продукт
                                            </button>
                                            <button type="button" class="btn btn-outline-primary" id="add-promotion"
                                                    data-bs-toggle="modal" data-bs-target="#modal-add-promotion">
                                                Додати знижку
                                            </button>
                                        </div>
                                        <div class="d-flex flex-row col-md-3 align-items-start mt-1 gap-2">
                                            <label class="" for="payment">Оплата:</label>
                                            <input type="text" class="form-control form-control-sm" id="payment"
                                                   name="payment" readonly>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="mb-2">
                                        <label class="form-label" for="status">Статус</label>
                                        <select class="form-select" id="status" name="status"></select>
                                    </div>
                                    <div class="mb-2">
                                        <label class="form-label" for="fullName">ПІБ</label>
                                        <input type="text" class="form-control" id="fullName" name="fullName"
                                               placeholder="Повне ім'я">
                                    </div>
                                    <div class="mb-2">
                                        <label class="form-label" for="phone">Телефон</label>
                                        <input type="text" class="form-control" id="phone" name="user.phone"
                                               placeholder="Телефон">
                                    </div>
                                    <div>
                                        <label class="badge bg-label-dark m-0">Адреса доставки</label>
                                    </div>
                                    <div class="mb-2">
                                        <label class="form-label" for="city">Місто</label>
                                        <input type="text" class="form-control" id="city" name="address.city"
                                               placeholder="Місто">
                                    </div>
                                    <div class="mb-2">
                                        <label class="form-label" for="street">Вулиця</label>
                                        <input type="text" class="form-control" id="street" name="address.street"
                                               placeholder="Вулиця">
                                    </div>
                                    <div class="mb-2"
                                         style="display: grid; grid-template-columns: repeat(3, 1fr); gap: 0 5px">
                                        <div class="mb-2">
                                            <label class="form-label" for="building">Будинок</label>
                                            <input type="text" class="form-control" id="building"
                                                   name="address.building"
                                                   placeholder="Будинок">
                                        </div>
                                        <div class="mb-2">
                                            <label class="form-label" for="apartment">Квартира</label>
                                            <input type="text" class="form-control" id="apartment"
                                                   name="address.apartment"
                                                   placeholder="Квартира">
                                        </div>
                                        <div class="mb-2">
                                            <label class="form-label" for="entrance">Під'їзд</label>
                                            <input type="text" class="form-control" id="entrance"
                                                   name="address.entrance"
                                                   placeholder="Під'їзд">
                                        </div>
                                        <div class="mb-2">
                                            <label class="form-label" for="floor">Поверх</label>
                                            <input type="text" class="form-control" id="floor" name="address.floor"
                                                   placeholder="Поверх">
                                        </div>
                                        <div class="mb-2 " style="grid-column-start: 2; grid-column-end: 4">
                                            <label class="form-label" for="doorCode">Код домофону</label>
                                            <input type="text" class="form-control" id="doorCode"
                                                   name="address.doorCode"
                                                   placeholder="Код домофону">
                                        </div>
                                    </div>
                                    <div class="mb-2 w-50">
                                        <label class="form-label" for="reservedTime">На час</label>
                                        <input type="text" class="form-control" id="reservedTime"
                                               name="reservedTime"
                                               placeholder="Доставити на час">
                                    </div>
                                    <div class="mb-2 ">
                                        <label class="form-label" for="deliveryTime">Час доставки</label>
                                        <div class="input-group w-50">
                                            <input type="text" class="form-control" id="deliveryTime"
                                                   name="deliveryTime"
                                                   placeholder="Плановий час доставки" aria-describedby="minutes">
                                            <span class="input-group-text" id="minutes">хв</span>
                                        </div>
                                    </div>
                                    <div class="mb-2">
                                        <label class="form-label" for="comment">Коментар</label>
                                        <textarea type="text" class="form-control" id="comment" name="comment"
                                                  placeholder="Коментар" rows="3"></textarea>
                                    </div>
                                    <div class="mb-2">
                                        <label class="form-label" for="cutlery">Пробори</label>
                                        <input type="number" class="form-control" id="cutlery" name="cutlery"
                                               placeholder="Кількість приборів" value="1">
                                    </div>
                                </div>

                                <input type="hidden" id="orderId" name="orderId">
                            </div>
                            <div class="card-footer d-flex justify-content-between align-items-center">
                                <div>
                                    <span class="form-label">Замовлення прийняв:</span>
                                    <input type="text" class="form-control" id="orderPlacer" name="orderPlaced"
                                           disabled>
                                </div>
                                <button type="button" class="btn btn-primary" id="save-order">
                                    Зберегти
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- / Content -->
                <div class="content-backdrop fade"></div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="modal-delete-product" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title " id="modalCenterTitle">Видалити товар з замовлення ?</h5>
                            <button
                                    type="button"
                                    class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close"
                            ></button>
                        </div>
                        <div class="modal-body">
                            <span>Після видалення товар неможливо відновити !</span>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">
                                Скасувати
                            </button>
                            <button type="button" class="btn btn-danger" id="delete-product">Видалити</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="modal-change-product" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="product-title"></h5>
                            <button
                                    type="button"
                                    class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close"
                            ></button>
                        </div>
                        <div class="modal-body">
                            <div class="mb-2">
                                <label class="form-label badge bg-label-secondary text-black"
                                       for="exclusionIngredients">Видалити інгредієнти</label>
                                <select class="form-select" id="exclusionIngredients"
                                        name="exclusionIngredients" multiple></select>
                            </div>
                            <hr>
                            <div class="mb-2">
                                <label class="form-label badge bg-label-secondary text-black"
                                       for="additionalIngredients">Додати інгредієнти</label>
                                <select class="form-select" id="additionalIngredients"
                                        name="additionalIngredients" multiple></select>
                            </div>
                            <input type="hidden" id="orderItemId" name="orderItemId">
                            <input type="hidden" id="orderItemPrice" name="orderItemPrice">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">
                                Скасувати
                            </button>
                            <button type="button" class="btn btn-primary" id="save-ingredients">Зберегти
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="modal-add-orderItem" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Додати товар до замовлення</h5>
                            <button
                                    type="button"
                                    class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close"
                            ></button>
                        </div>
                        <div class="modal-body">
                            <div class="mb-2">
                                <label class="form-label badge bg-label-secondary text-black"
                                       for="new-orderItem">Виберіть товар</label>
                                <select class="form-select select2" id="new-orderItem"
                                        name="new-orderItem"></select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">
                                Скасувати
                            </button>
                            <button type="button" class="btn btn-primary" id="save-new-OrderItem">Зберегти
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="modal-add-promotion" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Додати акцію до замовлення</h5>
                            <button
                                    type="button"
                                    class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close"
                            ></button>
                        </div>
                        <div class="modal-body">
                            <div class="mb-2">
                                <label class="form-label badge bg-label-secondary text-black"
                                       for="new-orderItem">Виберіть знижку</label>
                                <select class="form-select select2" id="new-promotion"
                                        name="new-promotion"></select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">
                                Скасувати
                            </button>
                            <button type="button" class="btn btn-primary" id="save-new-promotion">Зберегти
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
    </div>
    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>

    <!-- Drag Target Area To SlideIn Menu On Small Screens -->
    <div class="drag-target"></div>
</div>
<!-- / Layout wrapper -->


<!-- Core JS -->
<!-- build:js assets/vendor/js/core.js -->
<script th:src="@{/assets/vendor/libs/jquery/jquery.js}"></script>
<script th:src="@{/assets/vendor/libs/popper/popper.js}"></script>
<script th:src="@{/assets/vendor/js/bootstrap.js}"></script>
<script th:src="@{/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js}"></script>
<script th:src="@{/assets/vendor/libs/node-waves/node-waves.js}"></script>

<script th:src="@{/assets/vendor/libs/hammer/hammer.js}"></script>

<script th:src="@{/assets/vendor/js/menu.js}"></script>
<!-- endbuild -->

<!-- Vendors JS -->
<script th:src="@{/assets/vendor/libs/select2/select2.js}"></script>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/i18n/uk.min.js}"
        integrity="sha512-TDV/1TfxlJAwv/y8HVjHO/AbxfEi3JzUJhQ9HL8GqMprZTcgRggSavorvX2bYzpWyJLrav/Ub/ikmK1sd3eyTw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script th:src="@{/assets/vendor/libs/jquery-timepicker/jquery-timepicker.js}"></script>
<script th:src="@{/assets/vendor/libs/autosize/autosize.js}"></script>
<script th:src="@{/assets/vendor/libs/toastr/toastr.js}"></script>
<script th:src="@{/assets/vendor/libs/block-ui/block-ui.js}"></script>

<!-- Main JS -->
<script th:src="@{/assets/js/main.js}"></script>

<!-- Page JS -->

<script th:src="@{/assets/vendor/libs/flatpickr/flatpickr.js}"></script>
<script th:src="@{https://npmcdn.com/flatpickr/dist/l10n/uk.js}"></script>
<script th:inline="javascript">
    let src = /*[[@{/assets/img/placeholder-image.png}]]*/ 'default';
    window.onload = function () {
        var images = document.querySelectorAll("img");
        for (var i = 0; i < images.length; i++) {
            if (!images[i].complete || images[i].naturalWidth === 0) {
                images[i].src = src;
            }
        }
    };
    toastr.options = {
        maxOpened: 1,
        newestOnTop: true,
        progressBar: true,
        preventDuplicates: true,
    };
</script>

<script th:inline="javascript">
    const path1 = window.location.pathname;
    const orderId = Number(path1.substring(path1.lastIndexOf('/') + 1, path1.length));
    var order;
    const contextPath = /*[[@{/admin/orders/}]]*/ 'default';
    function parseMapToRes(data) {
        const mapResponse = new Map(data);
        const list = [];

        for (const [key, value] of mapResponse) {
            const res = {
                id: key,
                text: value,
            };
            list.push(res);
        }
        return list;
    }

    if (orderId) {
        $.ajax({
            type: "GET",
            url: contextPath + 'getOrder/' + orderId,
            dataType: "JSON",
            success: function (response) {
                fillInputs(response);
                order = response;
            },
            error: function (error) {
                toastr.error("Упс... Виникла помилка");
            }
        });
    } else {
        order = {
            orderId: 0,
            datetimeOfCreate: Date.now().valueOf() / 1000,
            status: "NEW",
            totalAmount: 0,
            usedPromotion: [],
            usedBonuses: 0,
            payment: "Готівка",
            deliveryTime: 75,
            cutlery: 1,
            orderPlaced: null,
            orderItems: []
        }
        fillInputs(order)
    }

    function getOrderItem(item) {
        for (let i = 0; i < order.orderItems.length; i++) {
            var orderItem = order.orderItems[i];
            if (orderItem.id === item) {
                return orderItem;
            }
        }
    }

    function modalDetails(itemId) {
        let orderItem = getOrderItem(itemId);

        function createData(dataList) {
            if (dataList && dataList.length > 0) {
                return $.map(dataList, function (dataItem) {
                    return {
                        id: dataItem.productId,
                        text: dataItem.name,
                        selected: true
                    }
                })
            } else {
                return [];
            }
        }

        const modal = $('#modal-change-product');
        modal.find('select').empty().trigger('change');

        $('#exclusionIngredients').select2({
            dropdownParent: modal,
            placeholder: "Додайте інгредієнти для видалення зі складу",
            allowClear: true,
            data: createData(orderItem.exclusionIngredients),
            ajax: {
                type: "GET",
                url: contextPath + 'getOrderItemIngredients/' + orderItem.product.productId,
                processResults: function (response) {
                    return {
                        results: $.map(response, function (prod) {
                            return {
                                "id": prod.productId,
                                "text": prod.name
                            };
                        })
                    };
                }
            }
        });

        $('#additionalIngredients').select2({
            dropdownParent: modal,
            placeholder: 'Додати інгредієнти',
            allowClear: true,
            maximumInputLength: 100,
            data: createData(orderItem.additionalIngredients),
            ajax: {
                type: "GET",
                url: contextPath + '../products/getIngredients',
                data: function (params) {
                    return {
                        search: params.term || '',
                        page: (params.page - 1) || 0
                    };
                },
                processResults: function (response) {
                    return {
                        results: $.map(response.content, function (prom) {
                            if (prom) return {
                                "id": prom.productId,
                                "text": prom.name
                            }
                        }),
                        pagination: {
                            more: response.pageable.pageNumber < response.totalPages
                        }
                    };
                }
            }
        });
        $('.select2-search__field').css('width', '200%');
        $('#product-title').html('Редагування - ' + orderItem.product.name);
        $('#orderItemId').val(orderItem.id);
        $('#orderItemPrice').val(orderItem.itemPrice)

    }

    function drawProductsTable(order) {
        $('tbody').children().remove();

        for (let item of order.orderItems) {
            let productName = item.product.name;
            if (item.isGiftProduct) productName = '<i class="ti ti-gift me-1 text-info"></i>' + productName;
            const additional = item.additionalIngredients;
            if (Array.isArray(additional) && additional.length) {
                productName += '<br> <span class="fst-italic text-black">додати (';
                for (let addIngred of additional) {
                    productName += addIngred.name + ', '
                }
                productName += ')</span>'
            }

            const exclusion = item.exclusionIngredients;
            if (Array.isArray(exclusion) && exclusion.length) {
                productName += ', <br><span class="fst-italic text-danger">без (';
                for (let addIngred of exclusion) {
                    productName += addIngred.name + ', '
                }
                productName += ')</span>'
            }
            var priceString;
            if (item.itemSalePrice) {
                priceString = '<span class="text-decoration-line-through text-danger">' + item.itemPrice + ' грн.</span>' +
                    '<br/>' +
                    '<span>' + item.itemSalePrice + ' грн.</span>';
            } else {
                priceString = '<span class="itemPrice">' + item.itemPrice + '</span> грн.';
            }

            $('<tr>\n' +
                '<td>' + productName + '</td>\n' +
                '<td>' + priceString + '</td>\n' +
                '<td><button type="button" class="btn btn-primary py-1 px-2" onclick="modalDetails(' + item.id + ')" ' +
                '      data-bs-toggle="modal" data-bs-target="#modal-change-product">\n' +
                '     <i class="ti ti-pencil me-1"></i>Редагувати\n' +
                '    </button>\n' +
                '    <button type="button" class="btn btn-outline-danger p-1 ms-2" data-bs-toggle="modal" ' +
                '            data-bs-target="#modal-delete-product" onclick="addDeleteLink(' + item.id + ')">\n' +
                '     <i class="ti ti-trash"></i>' +
                '    </button>\n' +
                '</tr>').appendTo("tbody");
        }

        if (order.usedPromotion) {
            var promotionsName = '';
            var promotionsAmount = 0;
            for (let prom of order.usedPromotion) {
                promotionsName += '<br><span class="fst-italic">' + prom.name + '</span>'
            }
            for (let item of order.orderItems) {
                promotionsAmount += item.itemPrice;
            }
            promotionsAmount = order.totalAmount - promotionsAmount;
            $('<tr>' +
                '<td>Знижки:' + promotionsName + '</td>' +
                '<td>' + promotionsAmount.toFixed(2) + ' грн.</td>' +
                '<td></td>' +
                '</tr>').appendTo("tbody")
        }

        if (order.usedBonuses) {
            $('<tr>' +
                '<td>Використано бонусів</td>' +
                '<td>' + order.usedBonuses + '</td>' +
                '<td></td>' +
                '</tr>').appendTo("tbody")
        }

        $('<tr class="bg-light">' +
            '<td>Загальна сума</td>' +
            '<td>' + order.totalAmount + ' грн.' + '</td>' +
            '<td></td>' +
            '</tr>').appendTo("tbody")
    }

    function getStatusLabel(status) {
        switch (status) {
            case 'NEW':
                return 'Новий';
            case 'ACCEPTED':
                return 'Прийнятий';
            case 'NOT_CONFIRMED_PREPARING':
                return 'Не підтверджений';
            case 'PREPARING':
                return 'Готується';
            case 'DELIVERED':
                return 'Доставляється';
            case 'COMPLETED':
                return 'Завершений';
            case 'CANCELED':
                return 'Скасований';
            default:
                return 'Не відомо';
        }
    }

    function fillInputs(order) {
        $.fn.select2.defaults.set("language", "uk");

        $('#order-number').html("Замовлення №: " + order.orderId)
        drawProductsTable(order);


        $('#status').select2({
            placeholder: 'Статус замовлення',
            minimumResultsForSearch: -1,
            data: [{
                id: order.status,
                text: getStatusLabel(order.status)
            }],
            ajax: {
                type: "GET",
                url: contextPath + 'getAllOrderStatus',
                processResults: function (response) {
                    const mapResponse = new Map(Object.entries(response));
                    return {
                        results: parseMapToRes(mapResponse)
                    };
                }
            }
        });
        $('#orderId').val(order.orderId);
        const dateOfCreate = new Date(order.datetimeOfCreate * 1000);
        $('#datetimeOfCreate').val(dateOfCreate.toLocaleDateString("uk") + ' ' + dateOfCreate.toLocaleTimeString("uk"));

        if (order.user) {
            $('#fullName').val(order.user.firstName + ' ' + order.user.lastName);
            $('#phone').val(order.user.phone);
        }

        if (order.address) {
            $('#city').val(order.address.city);
            $('#street').val(order.address.street);
            $('#building').val(order.address.building);
            $('#apartment').val(order.address.apartment);
            $('#floor').val(order.address.floor);
            $('#doorCode').val(order.address.doorCode);
            $('#entrance').val(order.address.entrance);
        }

        $('#cutlery').val(order.cutlery);
        $('#deliveryTime').val(order.deliveryTime);
        var $comment = $('#comment');
        autosize($comment);
        $comment.val(order.comment);
        if (order.orderPlaced) {
            $('#orderPlacer').val(order.orderPlaced.firstName + ' ' + order.orderPlaced.lastName);
        }
        $('#payment').val(order.payment);

        var date = new Date();
        date.setMilliseconds(date.getMilliseconds() + (Number(order.deliveryTime) * 60000));
        var now = date.getHours() + ':' + date.getMinutes();

        var $reservedTime = $('#reservedTime');
        $reservedTime.timepicker({
            disableTimeRanges: [
                ["10am", now]
            ],
            minTime: "10:00",
            maxTime: "22:00",
            timeFormat: "H:i",
            step: 15
        });
        $reservedTime.timepicker('setTime', order.reservedTime)
    }

    $('#save-new-OrderItem').on("click", function () {
        const data = $('#new-orderItem').select2('data');
        addNewOrderItem(data)
    });

    $('#add-orderItem').on('click', function () {
        var $new = $('#new-orderItem');
        $new.empty().trigger('change');
        $new.select2({
            dropdownParent: $('#modal-add-orderItem'),
            placeholder: 'Додати товар',
            maximumInputLength: 100,
            autoFocus: true,
            ajax: {
                type: "GET",
                url: contextPath + 'getProducts',
                data: function (params) {
                    return {
                        search: params.term || '',
                        page: (params.page - 1) || 0
                    };
                },
                processResults: function (response) {
                    return {
                        results: $.map(response.content, function (prom) {
                            if (prom) return {
                                id: prom.productId,
                                text: prom.name
                            }
                        }),
                        pagination: {
                            more: response.pageable.pageNumber < response.totalPages
                        }
                    };
                },
                cache: true,
            }
        });
    });
    var $newPromotion = $('#new-promotion');
    $('#add-promotion').on('click', function () {
        $newPromotion.empty().trigger('change');
        $newPromotion.select2({
            dropdownParent: $('#modal-add-promotion'),
            placeholder: 'Додати акцію',
            maximumInputLength: 100,
            autoFocus: true,
            ajax: {
                type: "GET",
                url: contextPath + '../promotions/getActivePromotions',
                data: function (params) {
                    return {
                        search: params.term || '',
                        page: (params.page - 1) || 0
                    };
                },
                processResults: function (response) {
                    return {
                        results: $.map(response.content, function (prom) {
                            if (prom) return {
                                id: prom.id,
                                text: prom.name
                            }
                        }),
                        pagination: {
                            more: response.pageable.pageNumber < response.totalPages
                        }
                    };
                },
                cache: true,
            }
        });
    });

    $('#save-new-promotion').on('click', function () {
        const newPromotion = $newPromotion.select2('data')[0];
        order.usedPromotion.push({
            id: newPromotion.id,
            name: newPromotion.text
        });

        $('#modal-add-promotion').find('.btn-close').click();
        $('#save-order').click();
    });

    function addNewOrderItem(select) {
        var newProduct = select[0];
        var newOrderItem = {
            id: 0,
            order: {
                orderId: order.orderId
            },
            product: {
                productId: Number(newProduct.id)
            },
            additionalIngredients: [],
            exclusionIngredients: []
        };

        var formData = new FormData();
        formData.append("id", newOrderItem.id);
        formData.append("order.orderId", newOrderItem.order.orderId);
        formData.append("product.productId", newOrderItem.product.productId);
        formData.append("isGiftProduct", false);

        $.ajax({
            type: "POST",
            url: contextPath + 'add-orderItem',
            contentType: false,
            processData: false,
            data: formData,
            success: function (response) {
                $('#modal-add-orderItem').find('button.btn-close').click();
                drawProductsTable(response);
                toastr.success('Товар ' + newProduct.text + ' успішно доданий');
                order = response;
            },
            error: function (error) {
                $('#modal-add-orderItem').find('button.btn-close').click();
                toastr.error("Упс... Виникла помилка");
            }

        })
    }

    $('#save-ingredients').on("click", function () {
        var orderItemId = $('#orderItemId').val();
        const newExclusion = $('#exclusionIngredients').select2('data');
        const newAdditional = $('#additionalIngredients').select2('data');

        var orderItem = order.orderItems.find(x => x.id === Number(orderItemId));

        var newOrderItem = {
            id: orderItemId,
            order: {
                orderId: order.orderId
            },
            product: {
                productId: orderItem.product.productId
            },
            additionalIngredients: $.map(newAdditional, function (prod) {
                return {
                    id: Number(prod.id),
                    name: prod.text
                }
            }),
            exclusionIngredients: $.map(newExclusion, function (prod) {
                return {
                    id: Number(prod.id),
                    name: prod.text
                }
            }),

            itemPrice: orderItem.itemPrice,
            itemSalePrice: orderItem.itemSalePrice,
            isGiftProduct: orderItem.isGiftProduct,
            promotionName: orderItem.promotionName,
            promotionCondition: orderItem.promotionCondition,
            promotionType: orderItem.promotionType,
            discountAmount: orderItem.discountAmount,
            minimalAmount: orderItem.minimalAmount,
            promoCode: orderItem.promoCode
        };

        var formData = new FormData();
        formData.append("id", newOrderItem.id);
        formData.append("order.orderId", newOrderItem.order.orderId);
        formData.append("product.productId", newOrderItem.product.productId);
        formData.append("itemPrice", newOrderItem.itemPrice);
        if (newOrderItem.itemSalePrice) formData.append("itemSalePrice", newOrderItem.itemSalePrice);
        if (newOrderItem.isGiftProduct) formData.append("isGiftProduct", newOrderItem.isGiftProduct);
        if (newOrderItem.promotionName) formData.append("promotionName", newOrderItem.promotionName);
        if (newOrderItem.promotionCondition) formData.append("promotionCondition", newOrderItem.promotionCondition);
        if (newOrderItem.promotionType) formData.append("promotionType", newOrderItem.promotionType);
        if (newOrderItem.discountAmount) formData.append("discountAmount", newOrderItem.discountAmount);
        if (newOrderItem.minimalAmount) formData.append("minimalAmount", newOrderItem.minimalAmount);
        if (newOrderItem.promoCode) formData.append("promoCode", newOrderItem.promoCode);

        for (let i = 0; i < newOrderItem.additionalIngredients.length; i++) {
            formData.append("additionalIngredients[" + i + "].productId", newOrderItem.additionalIngredients[i].id);
            formData.append("additionalIngredients[" + i + "].name", newOrderItem.additionalIngredients[i].name);
        }

        for (let i = 0; i < newOrderItem.exclusionIngredients.length; i++) {
            formData.append("exclusionIngredients[" + i + "].productId", newOrderItem.exclusionIngredients[i].id);
            formData.append("exclusionIngredients[" + i + "].name", newOrderItem.exclusionIngredients[i].name);
        }

        $.ajax({
            type: "POST",
            url: contextPath + 'edit-orderItem',
            contentType: false,
            processData: false,
            data: formData,
            success: function (response) {
                $('#modal-change-product').find('button.btn-close').click();
                drawProductsTable(response);
                toastr.success('Оновлення успішне !');
                order = response;
            },
            error: function (error) {
                $('#modal-change-product').find('button.btn-close').click();
                toastr.error('Упс... Виникла помилка ');
            }

        })
    })

    $('#save-order').on("click", function () {
        var button = $(this);
        blockButton(button);
        var formData = new FormData($('#orderForm')[0]);
        $('.invalid-feedback').remove();
        $('.is-invalid').removeClass('is-invalid');

        for (const dat of formData.entries()) {
        }
        formData.append('address.id', order.address ? order.address.id : '')
        const val = $('#fullName').val().split(' ');
        formData.append('user.firstName', val[0]);
        formData.append('user.lastName', val[1]);
        formData.append('user.userId', order.user ? order.user.userId : '');
        formData.append('totalAmount', Number(order.totalAmount));
        formData.append('usedBonuses', Number(order.usedBonuses));
        // formData.append('usedPromotion', order.usedPromotion);
        formData.append('orderPlaced.staffId', order.orderPlaced ? order.orderPlaced.staffId : '');
        formData.set('orderId', order.orderId);
        if (order.usedPromotion) {
            for (let i = 0; i < order.usedPromotion.length; i++) {
                formData.append("usedPromotion[" + i + "].id", order.usedPromotion[i].id);
            }
        }

        var postPath = orderId ? contextPath + 'update-order' : contextPath + 'add';

        $.ajax({
            type: "POST",
            url: postPath,
            data: formData,
            processData: false,
            contentType: false,
            success: function (response) {
                fillInputs(response)
                toastr.success('Оновлення успішне !');
                unblockButton(button);
            },
            error: function (error) {
                const errors = error.responseJSON;
                if (Array.isArray(errors)) {
                    for (let error of errors) {
                        $(document).find("input[name='" + error.field + "']").addClass("is-invalid").parent().append($(
                            '<p class="error-message invalid-feedback m-0">' + error.defaultMessage + '</p>'
                        ))
                    }
                }
                toastr.error('Упс... Виникла помилка ');
                unblockButton(button);
            }
        })
    });

    function addDeleteLink(orderItemId) {
        $('#delete-product').attr('onclick', 'deleteOrderItem(' + orderItemId + ')');
    }

    function deleteOrderItem(orderItemId) {
        $('#modal-delete-product').find('.btn-close').click();

        $.ajax({
            type: "DELETE",
            url: contextPath + "delete-orderItem/" + orderItemId,
            success: function (response) {
                toastr.success('Продукт успішно видалено !');

                $('tbody').find("[onclick='addDeleteLink(" + orderItemId + ")']").parent().parent().remove();
                $('#save-order').click();

            }, error: function () {
                toastr.error('Упс... Виникла помилка ');
            }
        })
    }

    function blockButton(button) {
        button.addClass("disabled")

        button.block({
            message: '<div class="spinner-border text-primary" role="status"></div>',
            css: {
                backgroundColor: "transparent",
                border: "0"
            },
            overlayCSS: {
                backgroundColor: "#000",
                opacity: 0.25
            }
        });
    }

    function unblockButton(button) {
        button.removeClass("disabled")
        button.unblock();
    }

</script>
</body>
</html>
